In [17]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [18]:
house_price = pd.read_csv('Real_Estate(2).csv')
house_price.head(3)

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3

In [19]:
house_price.drop(columns = ['No', 'transaction_date'], axis = 1, inplace = True)
house_price.head(3)

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3

In [20]:
X = house_price.drop(columns = 'house_price_of_unit_area', axis = 1)
Y = house_price['house_price_of_unit_area']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [21]:
#Building the linear model
lm_md = LinearRegression().fit(X_train, Y_train)

#Predicting on test
lm_pred = lm_md.predict(X_test)
lm_pred

array([47.75717182, 48.05530935, 45.95587818, 40.87419695, 45.24451472,
       29.54989419, 46.1364956 , 49.902814  , 30.79548436, 51.46876541,
       46.04722717, 33.69211691, 47.50009965, 40.6748055 , 14.16650837,
       39.15742507, 43.92823193, 47.02739115,  8.75893051, 35.35810883,
       44.30214412, 42.05698746, 37.04523883, 46.09409402, 42.15926584,
       30.83578091, 51.30473142, 45.07627077, 32.59732314, 51.30473142,
       46.11215345, 46.01932846, 46.18833015, 45.05010595, 49.69963782,
       45.06137018, 30.76548063, 45.75051025, 39.96178812, 33.36876281,
       43.50199183, 36.97941889, 25.71988412, 30.83528752, 47.03558217,
       42.15072117, 39.84462098, 44.2899067 , 43.15076119, 43.24703263,
       35.79505789, 39.53851237, 37.80722337, 43.08863942, 49.69963782,
       47.60021422, 25.37921205, 35.36917407, 12.57665156, 48.06757469,
       41.81571012, 49.17148739, 15.15190784, 51.46876541, 38.18192756,
       42.77390157, 15.15190784, 39.63746172, 33.63946306, 49.40264263,
       41.67838681, 51.3750317 , 40.78672167, 28.1495737 , 44.33959534,
       36.08377002, 35.76035992, 39.56341092, 14.47233845, 33.32977541,
       14.01681264, 30.141589  , 32.86156348])

In [23]:
Y_test

21     51.6
106    47.1
33     49.3
400    35.5
63     55.0
       ...
298    16.7
401    27.7
329    19.2
277    27.7
64     25.3
Name: house_price_of_unit_area, Length: 83, dtype: float64

In [24]:
lm_mse = mean_squared_error(Y_test, lm_pred)
print('The MSE of the linear model is', lm_mse)

The MSE of the linear model is 55.97409719410284