In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error

car_price = pd.read_csv('CarPrice_Assignment.csv')
car_price.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
X = car_price[['wheelbase', 'enginesize', 'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg']].copy()
Y = car_price['price']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [9]:
#Running lasso cv
lasso_cv = LassoCV(alphas = [0.001, 0.01, 0.1, 1, 10, 100], cv = 5).fit(X_train, Y_train)
lasso_cv.alpha_

100.0

In [11]:
#Building lasso
lasso_md = Lasso(alpha = 0.001).fit(X_train, Y_train)
lasso_md.coef_

array([ 176.87760673,  109.24407101,  339.09284798,   46.02663383,
          2.34273851, -190.13005987,   38.88205835])

In [12]:
#Building linear regression model
lm_md = make_pipeline(StandardScaler(), LinearRegression()).fit(X_train, Y_train)

#Predicting on the test
lm_pred = lm_md.predict(X_test)
lm_pred

array([ 5031.81115246,  5441.87914175,  5207.39254517, 17080.7578424 ,
        6721.81442488,  5207.39254517,  6511.28174798,  9083.60379702,
       10288.21027417, 12993.60385305, 11339.43489049, 10451.76026307,
       16555.66030765, 17006.71182336,  8407.6700704 , 24700.12719936,
        8731.39045659,  6721.81442488, 21194.80339071, 13678.99247114,
        7906.09765216, 11153.19388284,  4992.92819395, 13861.78799742,
       11617.34386313,  6511.28174798, 16816.58075741, 19559.21439149,
        9889.80185763,  5559.03766519, 12560.22722761, 11431.15024823,
       16816.58075741, 33354.34653338, 23025.21691638, 18656.43821669,
       10840.54698097, 21200.07035621,  5207.39254517,   641.3416714 ,
       11931.03093889])

In [13]:
lm_mse = mean_squared_error(Y_test, lm_pred)
print('MSE of linear model is ', lm_mse)

MSE of linear model is  5115656.3264261475